
wp-config.php
license.txt
readme.html
My_Fontspring_Fonts.zip
My_Fontspring_Fonts Folder/Licenses/Webfont EULA 1.7.txt
My_Fontspring_Fonts Folder/Reference/400x400.jpg
My_Fontspring_Fonts Folder/Reference/Release Notes.txt
My_Fontspring_Fonts Folder/Webfonts/justlovely_slantedwide_macroman/justlovely_slanted_wide-demo.html
My_Fontspring_Fonts Folder/Webfonts/justlovely_slantedwide_macroman/justlovely_slanted_wide-webfont.woff
My_Fontspring_Fonts Folder/Webfonts/justlovely_slantedwide_macroman/justlovely_slanted_wide-webfont.woff2
My_Fontspring_Fonts Folder/Webfonts/justlovely_slantedwide_macroman/specimen_files/grid_12-825-55-15.css
My_Fontspring_Fonts Folder/Webfonts/justlovely_slantedwide_macroman/specimen_files/specimen_stylesheet.css
My_Fontspring_Fonts Folder/Webfonts/justlovely_slantedwide_macroman/stylesheet.css
