@media (max-width: 850px) {
	.tagline {
		padding: 35px 0;
	}
	
	.tagline h1 {
		font-size: 65px;
		line-height: 0.9em;
	}
	.wrapper {
		padding: 25px 5%;
	}
	.insta-container {
		padding-top: 5%;
		padding-bottom: 0;
	}
	.logo img {
		max-width: 200px;
	}
	body {
		background-position: center bottom;
	}
	.background-img {
		display: block;
	}
}

@media (max-width: 850px) and (orientation: portrait) {
	.contact {
		display: none;
	}
	.social-links {
		font-size: 30px;
	}
}

@media (max-width: 320px) and (orientation: landscape) {
	.tagline h1 {
		font-size: 45px;
	}
}

@media (max-width: 320px) and (orientation: portrait) {
	.tagline h1 {
		font-size: 55px;
	}
}

@media (min-width: 768px) {
	.toggle {
		display: none;
	}
	.contact {
		display: block;
	}
}

@media (max-width: 568px) and (orientation: landscape) {
	.tagline h1 {
		font-size: 35px;
	}
	.tagline {
		padding-bottom: 15px;
		padding-top: 25px;
	}
	.contact p {
		font-size: 14px;
	}
}

@media (max-width: 1024px) {
	.tagline h1 {
		letter-spacing: -0.03em;
	}
	.tagline {
		max-width: 550px;
	}
	.launching-soon {
		width: 60vw;
		height: auto;
		right: auto;
		bottom: -45px;
		top: auto;
		left: 50%;
		transform: translateX(-50%);
	}
	.launching-soon-desktop {
		display: none;
	}
	.launching-soon img.launching-soon-mobile {
		display: block;
		height: auto;
		width: 100%;
	}
}

@media (max-width: 450px) {
	.launching-soon {
		bottom: -14px;
	}
}

@media (max-width: 850px) and (orientation: landscape) {
	.tagline h1 {
		font-size: 45px;
	}
	.toggle {
		display: none;
	}
	.wrapper {
		padding-right: 25px;
		padding-left: 25px;
	}
	.launching-soon {
		bottom: -20px;
		width: 40vw;
	}
	.contact {
		font-size: 16px;
		line-height: 1.5em;
	}
	.social-links {
		margin-top: 20px;
	}
}

@media (min-width: 1024px) and (orientation: portrait) {
	.launching-soon {
		bottom: -35px;
	}
}
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
	.tagline h1 {
		font-size: 60px;
	}
	
	.launching-soon {
		bottom: -26px;
	}
}